.full-body {
    margin-left: 20px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial;
}

.title {
    color: black;
    text-align: centre;
}

.padding-bottom li{
    padding-bottom: 10px;
}

.img-profile {
    display: block;
    margin-right: 70px;
    margin-left: 700px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    float: right;
}

.float-left {
    float: left;
}

.bold-font {
    font-weight: bold;
}

.blue-font {
    color: blue;
}

.orange-font {
    color: #da700d;
}

.aboutme {
    font-weight: bold;
    opacity: 0.75;
}
    
.img-illustration {
    margin-right: 70px;
    margin-left: 200px;
}

.background-dark {
    margin-right: 0px;
    margin-left: 0px;
}
