body {
    margin-left: 20px;
}

.title {
    color: teal;
}

.padding-bottom li{
    padding-bottom: 10px;
}

.img-profile {
    float: right;
}

.float-left {
    float: left;
}

.bold-font {
    font-weight: bold;
}
