body {
    margin-left: 20px;
}

.title {
    color: teal;
}

.padding-bottom li{
    padding-bottom: 10px;
}

.img-profile {
    float: right;
}

.float-left {
    float: left;
}

.bold-font {
    font-weight: bold;
}

.blue-font {
    color: blue;
}

.orange-font {
    color: #da700d;
}

.aboutme {
    font-weight: bold;
    opacity: 0.75;
}
    
